.theme-container
    height 100%

.theme-container, .navbar, .links, .sidebar
    background-color $backgroundColor !important

/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar
    width 8px
    height 8px
    border-radius 10px
    background-color $accentColor

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track
    border-radius 10px
    -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
    background-color #F5F5F5

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb
    border-radius 10px
    -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius 10px
    /* 线性渐变 */
    background-image -webkit-gradient(
        linear,
        left bottom,
        left top,
        // color-stop(0.44, $accentColor),
        // color-stop(0.72, $normalColor),
        // color-stop(0.86, $normalColor)
    )
    transition 0.3s ease-in-out

/* 定义滑块悬浮样式 */
::-webkit-scrollbar-thumb:hover
    background-image -webkit-gradient(
        linear,
        left bottom,
        left top,
        // color-stop(0.44, $normalColor),
        // olor-stop(0.72, $normalColor),
        // color-stop(0.86, $accentColor)
    )
    transition 0.3s ease-in-out

h1
    background-image -webkit-linear-gradient(
        left,
        $normalColor,
        $accentColor 25%,
        $normalColor 50%,
        $accentColor 75%,
        $normalColor
    )
    -webkit-text-fill-color transparent
    -webkit-background-clip text
    -webkit-background-size 200% 100%
    -webkit-animation myGradientChange 4s infinite linear
    animation myGradientChange 4s infinite linear

.description, .card h2
    background-image -webkit-linear-gradient(
        left,
        $accentColor,
        $normalColor 25%,
        $accentColor 50%,
        $normalColor 75%,
        $accentColor
    )
    -webkit-text-fill-color transparent
    -webkit-background-clip text
    -webkit-background-size 200% 100%
    -webkit-animation myGradientChange 4s infinite linear
    animation myGradientChange 4s infinite linear

@keyframes myGradientChange
    0%
        background-position 0 0

    100%
        background-position -100% 0

// 强修嵌套侧边栏标题透明度
.sidebar-group.is-sub-group > .sidebar-heading
    opacity 1 !important
    border-left 0

.sidebar-group.is-sub-group.depth-1 > .sidebar-heading
    border-left 0.25rem solid transparent
